.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sidebar {
    background-size: cover;
    background-image: url("./assets/img/header.jpg");
}

.sidebar:after {
    background-color: rgba(0, 0, 0, .6) !important;
    background-image: none;
}

/***
*  NG PROGRESS
**/

#nprogress .bar {
    background: #38c56a !important;
    height: 5px;
}

#nprogress .peg {
    box-shadow: 0 0 10px #38c56a, 0 0 5px #38c56a !important;
}

#nprogress .spinner-icon {
    border-top-color: #38c56a !important;
    border-left-color: #38c56a !important;
}