.main-panel > .content {
    min-height: calc(100vh - 173px);
}

/*.full-page.login-page.section-image .full-page-background {*/
/*background-image: url('../img/bg1444.jpg');*/
/*}*/

.panel-header.bl-title {
    padding-top: 20px;
    padding-bottom: 45px;
    padding-left: 20px;
    color: #fff;
}

.bd-title, h1, h2 {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 300;
}

.bd-title, h1, h2, h3 {
    font-weight: 300;
}

.table > thead > tr > th {
    font-size: 1.1em;
    font-weight: 700;
}

.sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
    padding: 10px 2px;
}

.sidebar .sidebar-wrapper {
    overflow-x: hidden;
}

.card label {
    color: #545252;
}

.form-control {
    border: 1px solid #cdcccc;
}

.form-check .form-check-sign::before, .form-check .form-check-sign::after {
    border: 1px solid #a8a8a8;
}

.cursorPointer {
    cursor: pointer;
}

.tablesOver {
    overflow-scrolling: auto;
}

.navLinkone {
    padding-left: 20px;
}

.navLinktwo {
    padding-left: 20px;
}

.navLinkthree {
    padding-left: 20px;
}

.navLinkfour {
    padding-left: 20px;
}

.sidebar .nav .nav li > a {
    /*margin-top: -25px !important;*/
    padding-top: 5px;
    padding-bottom: 0;
}

.logPage {
    height: 650px;
}

.regularForm {
    max-width: 30%;
    margin-left: 25%;
}

.logAuth {
    height: 150px;
    margin-top: -50px;
}

.centerPage {
    margin-top: 18%;
}

.textForm {
    color: #ffffff;
    margin-left: 30%;
}

.logoEfi {
    margin: 0 25px;
}

.menuBar {
    color: #fff;
    position: fixed;
    margin-top: 0px;
    width: 100%;
    padding-left: 30px;
    top: 0px;
    position: fixed;
    margin-left: -47px;
    z-index: 1;
    background: -webkit-gradient(linear, left top, right top, from(#0c2646), color-stop(60%, #204065), to(#2a5788));
    background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
    height: 85px;
}

.editLog {
    position: fixed;
    width: 100vw;
    color: #ffffff;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 12, 15, .85);
}

.trselected {
    background-color: #f96332 !important;
    color: white;
    height: 35px;
}

.trselected td, .trselected td input {
    color: white;
}

.trselected ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff !important;
    opacity: 1; /* Firefox */
}


.trunselected {
}

.adjusttd tr {
    transition: background-color 0.35s ease;
}

.adjusttd {
    font-size: 11px;
}

.adjusttd tr input {
    width: 140px;
}

.adjusttd tr select {
    width: 140px;
}